# Evolution API Settings
EVOLUTION_API_URL=http://localhost:8080
EVOLUTION_API_KEY=429683C4C977415CAAFCCE10F7D57E11

# Instance Settings
EVOLUTION_INSTANCE_NAME=ebainstance
EVOLUTION_INSTANCE_QRCODE=true
EVOLUTION_INSTANCE_MOBILE=false
EVOLUTION_INSTANCE_INTEGRATION=WHATSAPP-BAILEYS
